html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}



body {
  margin: 0;
  font-family: 'Krub', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  max-width: 70rem;
  margin: 0 auto;
}

.nav-style {
  list-style-type: none;
}

.logo {
  width: 7rem;
  height: 7rem;
}

.header-home {
  background-image: url(./assets/images/header-home.jpg);
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.content-header {
  background-color: rgb(0 0 0 / 50%);
  position: absolute;
  width: 100%;
  height: 100%;
}

.link-header {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
}

.bar {
  background-color: rgb(0 0 0 / 40%);
}

.header-text {
  margin-top: 25rem;
}

.header-text p {
  color: white;
  font-size: 3rem;
  text-align: start;
  font-family: 'PT Sans Narrow', sans-serif;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem
}

.header-about {
  background-image: url(./assets/images/acerca-de.jpg);
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.content-header-about {
  background-color: rgb(0 0 0 / 50%);
  position: absolute;
  width: 100%;
  height: 100%;
}

.about-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.about-content p {
  text-align: start;
}

.header-list-blog {
  background-image: url(./assets/images/blog-list-image.jpg);
  height: 40rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.content-header-list-blog {
  background-color: rgb(0 0 0 / 50%);
  position: absolute;
  width: 100%;
  height: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.login-form {
  flex-grow: 1;
}

input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}

div.post-page div.image {
  max-height: 300px;
  display: flex;
  overflow: hidden;
}

div.post-page div.image img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

div.post-page a {
  color: #333;
  text-decoration: underline;
}

div.post-page h1 {
  text-align: center;
  margin: 10px 0 5px;
}

div.post-page time {
  text-align: center;
  display: block;
  font-size: 1rem;
  color: #aaa;
  margin: 10px 0;
}

div.post-page div.author {
  text-align: center;
  margin-bottom: 20px;
  font-size: .7rem;
  font-weight: bold;
}

div.content p {
  line-height: 1.7rem;
  margin: 30px 0;
}

div.content li {
  margin-bottom: 10px;
}

div.edit-row {
  text-align: center;
  margin-bottom: 20px;
}

div.post-page a.edit-btn {
  background-color: #333;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
}

a svg {
  height: 20px;
}